<!-- <header class="header"> Menu </header>

<footer class="footer"> Footer </footer> -->

<header>
  <div class="container meta bg-red-400">
<ul class="Menu">
  <li class="mx-3 px-5 py-3">
      <a [routerLink]="['ShoppingCart']">Home</a>
      <!-- <a href=" ">Home</a> -->
  </li>

  <!-- <li  class="mx-3 px-5 py-3">
      <a [routerLink]="['domain']">Domain</a>
  </li>

  <li>
      <a [routerLink]="['HostingServer']">HostingServer</a>
  </li>

  <li  class="mx-3 px-5 py-3">
      <a [routerLink]="['payment']">Payment</a>
  </li>


  <li  class="mx-3 px-5 py-3">
      <a [routerLink]="['purchase']">Purchase</a>
  </li>-->

  <li>
      <a [routerLink]="['contact']">Contact</a>
  </li> 
</ul>
</div>
</header>
<router-outlet></router-outlet>

<footer class="footer"> Footer </footer>

